* {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 32px;
  padding-bottom: 16px;
  background: url(assets/bg-main.png);
  background-size: 100%;
}

body.result {
  background: url(assets/bg-result.png);
  background-size: 100%;
}

h1 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.disclaimer {
  padding-top: 16px;
  font-size: 14px;
}

.index-wrapper {
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.index-title {
  font-size: 7vw;
}

@media screen and (min-width: 700px) {
  .index-title {
     font-size: 50px;
  }
}

.index-wrapper-logo {
  display: flex;
  justify-content: center;
}

.index-wrapper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  display: inline-block;
  width: 100%;
  border: solid 2px #01f6f7;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px 16px;
}

.button.warning {
  border-color: #e6bf00;
}

.test {
  display: flex;
  flex-direction: column;
}

.test-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#finger-box-wrapper {
  display: flex;
  justify-content: center;
}

#finger-box {
  width: 375px;
  height: 264px;
  border: 0;
  background: url(assets/fingerprint-press.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.finger-print {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  background: url(assets/finger-print.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
  height: 191px;
}

#finger-box:before {
  content: '';
  display: none;
  width: 260px;
  height: 6px;
  border-radius: 3px;
  border: solid 4px rgba(0, 0, 0, 0.5);
  background-color: #ff2859;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  z-index: 3;
}

#finger-box.active:before {
  display: block;
  animation-name: scanner;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scanner {
  from {
    top: 45px;
  }
  to {
    top: 210px;
  }
}


body.result {
  display: flex;
  flex-direction: column;
}

.result-list {
  padding-left: 16px;
  color: #fff;
  margin-bottom: 40px;
}

.result p {
  text-align: left;
}

.result-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.result-share-button {
  margin-top: 40px;
}

.share-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.info {
  font-size: 14px;
}

.share-button {
  text-decoration: none;
  display: inline-block;
  width: 136px;
  height: 136px;
  background: url(assets/share-msn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
}

.share-button.fb {
  background-image: url(assets/share-fb.png);
}

.share-button.tw {
  background-image: url(assets/share-twitter.png);
}

#cookies-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #eee;
  color: #000;
  padding: 14px;
}

#cookies-message.active {
  display: block;
}

#button-cookies {
  border: solid 1px #999;
  padding: 6px;
}
